Id: {{id}} <br/>
Name: {{name}}<br/>
Avg:{{avg}} <br/>
<br>
<b><u>Address</u></b><br/>
Street No : {{address.streetno}}<br/>
City :{{address.city}}<br/>
State: {{address.state}}<br><br/>
<u>HOBBIES</u>
<ul>
    <li *ngFor="let hobby of hobbies">
        {{hobby}}
    </li>
</ul>